{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-md-7 col-lg-6 q-gutter-y-md">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-md">
        <div class="text-h6">LLM Proxy</div>
        <div class="text-subtitle2">API key details</div>
      </q-card-section>
      <q-card-section v-if="accessKey">
        <q-list separator>
          <q-item>
            <q-item-section>
              <q-item-label>API Key</q-item-label>
              <q-item-label
                caption
                v-text="
            `${accessKey.api_key.slice(0, 12)}...${accessKey.api_key.slice(-12)}`
          "
              ></q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>
                <q-icon
                  name="content_copy"
                  @click="copyText(accessKey.api_key)"
                  size="1em"
                  color="grey"
                  class="cursor-pointer"
                />
              </q-item-label>
            </q-item-section>
          </q-item>

          <q-item>
            <q-item-section>
              <q-item-label>Bought Units</q-item-label>
              <q-item-label caption>
                <span v-text="accessKey.prepaid_units"></span>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>Used Units</q-item-label>
              <q-item-label caption>
                <span v-text="accessKey.used_units"></span>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-if="agent">
            <q-item-section>
              <q-item-label>LLM/Agent</q-item-label>
              <q-item-label caption>
                <span v-text="agent.name"></span>
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>Model</q-item-label>
              <q-item-label caption>
                <span v-text="agent.model_name"></span>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </div>
</div>

{% endblock %}{% block scripts %}
<style scoped>
  .q-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
</style>
<script>
  const accessKey = JSON.parse({{ access_key | tojson }});

  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        accessKey: null,
        agent: null,
      }
    },
    async created() {
      this.accessKey = accessKey;
      await this.getAgent()
    },
    computed: {

    },
    methods: {
      async getAgent(){
        try {
          const {data} = await LNbits.api.request(
            'GET',
            `/proxyllm/api/v1/agents/${this.accessKey.agent_id}`,
            null
          )
          this.agent = {...data};

        } catch (error) {
          console.warn(error)
          LNbits.utils.notifyApiError(error)
        }
      }
    }
  })
</script>
{% endblock %}
